* {
	box-sizing: border-box;
}
body {
	opacity: 1;
	transition: opacity 0.5s linear;
}
.author {
	position: fixed;
	bottom: 0;
	right: 0;
	background-color: rgba(black, 0.25);

	a {
		display: block;
		text-decoration: none;
		color: white;
		font-family: "Marck Script", cursive;
		padding: 15px;
	}
}
.container {
	height: 100vh;
	position: relative;
	overflow: hidden;
	background-image: url("https://i.ibb.co/DLt3PP0/flowers-374318-1920.jpg");
	background-image: url("https://i.ibb.co/SNvjtrQ/wood-bg.jpg");
	background-size: cover;
	background-position: center center;
	.paper {
		position: fixed;
		top: -100%;
		left: -100%;
		max-width: calc(390px - 30px);
		padding: 0 25px;
		width: 100%;
		background: url("https://i.ibb.co/vhmpyBt/paper-body.png");
		background-position: center center;
		background-size: 100% 100%;
		background-repeat: no-repeat;
		min-height: 84px;
		transform: rotate(-20deg);
		transition: top 0.2s linear, left 0.2s linear, transform 0.2s ease-out 0.2s;
		font-family: "Marck Script", cursive;
		.name {
			display: block;
			text-align: center;
			// margin-top: 40px;
			margin-bottom: 15px;
			text-decoration: underline;
			text-transform: capitalize;
		}
		.paper-top,
		.paper-bottom {
			height: 60px;
			background-size: 100%;
			background-repeat: no-repeat;
		}
		.paper-top {
			position: absolute;
			top: -5%;
			right: -5%;
			left: -5%;
			background-image: url("https://i.ibb.co/jvKN51L/paper-top.png");
		}
		.paper-bottom {
			position: absolute;
			bottom: -5%;
			right: -5%;
			left: -5%;
			background-image: url("https://i.ibb.co/3RmcNs5/paper-bottom.png");
		}
		p {
			font-size: 26px;
		}
		&.watch {
			min-height: 500px;
			max-height: auto;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			padding: 40px 25px;
			transition: padding 0.8s ease-in 1.5s, min-height 0.8s ease-in 1.5s, top 0.5s linear 0.8s,
				left 0.5s linear 0.8s, transform 0.5s ease-out 0.8s;
		}
		.flex {
			display: flex;
		}
		#message {
			position: relative;
			font-size: 24px;
			line-height: 1.2;
		}
	}
	.letter-wrapper {
		position: absolute;
		background-image: url("https://i.ibb.co/GQnx18W/old-paper.jpg");
		background-size: cover;
		display: block;
		max-width: 350px;
		width: calc(100% - 30px);
		top: 20%;
		left: 70%;
		transform: translate(-20%, -70%) rotate(20deg);
		box-shadow: 0 0 50px black;
		transition: all 0.5s ease-in-out;
		&.clicked {
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%) rotate(0deg);
			.stamp {
				width: 0px;
				height: 0px;
				opacity: 0;
				z-index: 0;
				transition: width 0.2s linear 0.3s, height 0.2s linear 0.3s, opacity 0.2s linear 0.3s,
					z-index 0.2s linear 0.5s;
			}
		}
		&.submitted {
			top: -100%;
			left: 100%;
			transform: rotate(20deg);
			transition: top 1.8s ease-in-out 0.8s, left 1.2s ease-in-out 0.8s, transform 0.5s ease-in-out 0.5s;
		}
		.ask-name {
			opacity: 0;
			position: absolute;
			top: 50%;
			left: 50%;
			width: 100%;
			text-align: center;
			transform: translate(-50%, -50%);
			z-index: 4;
			user-select: none;
			pointer-events: none;
			p {
				font-family: "Marck Script", cursive;
				font-size: 30px;
				user-select: text;
				margin-bottom: 10px;
				font-weight: bold;
			}
			input {
				display: block;
				background-color: transparent;
				border: none;
				margin-right: auto;
				margin-left: auto;
				border-bottom: 2px solid brown;
				outline: none;
				font-family: "Marck Script", cursive;
				font-size: 24px;
				margin-bottom: 10px;
				text-align: center;
				&:invalid {
					box-shadow: 0 0 5px brown;
				}
			}

			.submit-name {
				font-family: "Marck Script", cursive;
				font-size: 20px;
				font-weight: bold;
				color: darken(brown, 10%);
				border: none;
				outline: none;
				cursor: pointer;
				background-color: transparent;
				display: none;
				margin-right: auto;
				margin-left: auto;
			}
		}
		.stamp {
			position: absolute;
			top: 0;
			display: block;
			width: 100px;
			height: 100px;
			background-image: url("https://i.ibb.co/8sRJpQ3/mark.png");
			background-size: contain;
			background-repeat: no-repeat;
			top: 100%;
			left: 50%;
			transform: translate(-50%, -100%);
			z-index: 10;
		}
		.letter-closure {
			position: absolute;
			top: 0;
			height: 150px;
			width: 100%;
			background: url("https://i.ibb.co/GQnx18W/old-paper.jpg");
			background-size: cover;
			&:hover:before {
				animation: hintRed 0.5s linear infinite both;
			}
			&:before {
				content: "";
				display: block;
				height: 100%;
				width: 100%;
				opacity: 0.15;
				transition: 0.2s linear;
				animation: hintRed 0.5s linear 1.5s 2 both;
			}
			background-repeat: no-repeat;
			z-index: 5;
			clip-path: polygon(0 0, 100% 0%, 100% 40%, 50% 100%, 0 40%);
			transition: transform 0.2s linear 0.5s;
			transform-origin: top;
			cursor: pointer;
			&.opened {
				transition: transform 0.2s linear 0.2s;
				transform: translateY(0px) rotateX(180deg);
				+ .ask-name {
					pointer-events: initial;
					opacity: 1;
					user-select: default;
					transition: opacity 0.3s linear 0.7s;
				}
			}
		}

		.letter-body {
			position: relative;
			height: 200px;
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			grid-template-rows: 1fr 1fr;
			z-index: 3;

			animation: hintGreen 0.5s linear 2 both;
			.left-side {
				position: absolute;
				left: 0;
				bottom: 0;
				top: 0;
				width: 50%;
				background: url("https://i.ibb.co/GQnx18W/old-paper.jpg");
				background-position: 0 0;
				clip-path: polygon(0 0, 0% 100%, 50% 50%);
				z-index: 1;
				transition: transform 0.2s linear 0.3s;
				transform-origin: left;
				&:before {
					content: "";
					display: block;
					height: 100%;
					width: 100%;
					animation: hintGreen 0.5s linear 2 both;
				}

				&.opened {
					transition: transform 0.2s linear 0.3s;
					transform: translateX(0%) rotateY(-180deg);
				}
			}
			.center {
				position: absolute;
				bottom: 0;
				height: 200px;
				width: 100%;
				clip-path: polygon(20% 40%, 80% 40%, 100% 100%, 0 100%);
				background: url("https://i.ibb.co/GQnx18W/old-paper.jpg");
				background-position: center center;
				z-index: 4;
				transition: transform 0.2s linear 0.4s;
				transform-origin: bottom;
				&:before {
					content: "";
					display: block;
					height: 100%;
					width: 100%;
					animation: hintGreen 0.5s linear 2 both;
				}
				&.opened {
					transition: transform 0.2s linear 0.4s;
					transform: translateY(0%) rotateX(180deg);
				}
			}
			.right-side {
				background: url("https://i.ibb.co/GQnx18W/old-paper.jpg");
				background-position: 100% 0;
				right: 0;
				bottom: 0;
				top: 0;
				width: 50%;
				position: absolute;
				clip-path: polygon(100% 0, 100% 100%, 50% 50%);
				z-index: 3;
				transition: transform 0.2s linear 0.5s;
				transform-origin: right;
				&:before {
					content: "";
					display: block;
					height: 100%;
					width: 100%;
					animation: hintGreen 0.5s linear 2 both;
				}
				&.opened {
					transition: transform 0.2s linear 0.5s;
					transform: translateX(0%) rotateY(-180deg);
				}
			}
		}
	}
}

@keyframes hintRed {
	0% {
		background-color: rgba(red, 0);
	}
	50% {
		background-color: rgba(red, 1);
	}
	100% {
		background-color: rgba(red, 0);
	}
}

@keyframes hintGreen {
	0% {
		background-color: rgba(green, 0);
	}
	50% {
		background-color: rgba(green, 0.15);
	}
	100% {
		background-color: rgba(green, 0);
	}
}
